@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 20 15% 20%;
    --card: 0 0% 100%;
    --card-foreground: 20 15% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 15% 20%;
    --primary: 18 63% 39%;
    --primary-foreground: 0 0% 100%;
    --secondary: 30 50% 95%;
    --secondary-foreground: 20 15% 20%;
    --muted: 30 50% 95%;
    --muted-foreground: 20 15% 50%;
    --accent: 45 91% 57%;
    --accent-foreground: 20 15% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 30 40% 80%;
    --input: 30 40% 80%;
    --ring: 18 63% 39%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 10% 10%;
    --foreground: 60 30% 96%;
    --card: 20 10% 15%;
    --card-foreground: 60 30% 96%;
    --popover: 20 10% 10%;
    --popover-foreground: 60 30% 96%;
    --primary: 18 63% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 20 10% 20%;
    --secondary-foreground: 60 30% 96%;
    --muted: 20 10% 20%;
    --muted-foreground: 60 20% 70%;
    --accent: 45 91% 60%;
    --accent-foreground: 20 15% 20%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 20 10% 25%;
    --input: 20 10% 25%;
    --ring: 18 63% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
